.picture-div{
    background-image: url('../src/images/mainpage.png');
        height: 300px;
        width: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        margin: 24px;
        border-radius: 8px;
}
.transitionDiv{
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: 0.2s;
    background-color: aqua;
    width: 100%;
    height: 100%;
    opacity: 50.3%;
    display: none;
}
.iconImg{  
    position: relative;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}



